@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Shippori+Antique+B1&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  background: #c3dfef;
	font-family: sans-serif;
  max-width: 750px;
}

header {
  display: flex;
  align-items: center;
  box-shadow: inset 9px 9px 0px #d8f8ff, inset -9px -9px 0px #aec6d5;
  background: #c3dfef;
  border-radius: 19px;
  padding-top: 0px;
  color: #03045e;
  font-family: 'Shippori Antique B1', sans-serif;
  padding-left: 50px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  position: sticky;
  top: 0px;
  cursor: auto;
}

hr {
  height: 0.5px;
  border: 0;
  color: rgba(3,4,94,0.5);
  background-color: #03045e;
}

.confetti {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
}

.siriicon {
  width: 50px;
  border-radius: 5px;
  margin: 10px 20px 0 40px;
  padding-top: 20px;
}
.siriicon:active {
  filter: drop-shadow(2px 2px 0.5rem #3a519b);
}

.subheader {
  color: #03045e;
  margin-left: -164px;
  font-family: 'Shippori Antique B1', sans-serif;
  margin-top: 105px;

}
.subheader a {
  text-decoration: none;
}

.aboutlinkicon {
  color: white;
  font-family: 'Shippori Antique B1', sans-serif;
  text-decoration: none;
  margin: 0;
  padding-top: 2.667px;
  padding-bottom: 8.667px;
}

.icon-bar {
  width: 240px;
  background-color: #c3dfef;
  margin-left: 140px;
  margin-top: 40px;
  border-radius: 10px;
  float: right;
  font-family: 'Shippori Antique B1', sans-serif;
  text-decoration: none;
}
.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center;
  width: 25%; /*splits into 4 boxes*/
  padding: 18px 0; /*top and bottom padding*/
  color: white;
  font-family: 'Shippori Antique B1', sans-serif;
  text-decoration: none;
}
.icon-bar a:hover {
  background-color: #03045e;
  box-shadow: inset 0px 0px 6px #c3dfef;
  border-radius: 10px;
  color: white;
}
.icon-bar a:active {
  opacity: 50%;
  box-shadow: inset 0px 0px 6px #a0a0a0;
  filter: drop-shadow(2px 2px 0.5rem #3a519b);
}

.tip-button {
  width: 304px;
  height: 89px;
  background-size: 100%;
  background-image: url('images/1_pay_mm_off.png');
  cursor: pointer;
}

.tip-button:hover {
  background-image: url('images/1_pay_mm_over.png');
}

.tip-button:active {
  background-image: url('images/1_pay_mm_off.png');
}

article {
  border-radius: 19px;
  background: linear-gradient(145deg, #d1efff, #b0c9d7);
  box-shadow:  9px 9px 0px #aec6d5, -9px -9px 0px #d8f8ff;
  border: rgba(255, 255, 255, 0.5);
  width: 85%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 20px;
  padding-bottom: 10px;
  color: #03045e;
  font-family: monospace;
  max-width: 550px;
  align-items: center;
}

.Dec2021 {

}

.randomnumberbutton {
  background-color: #3a519b;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.randomnumberbutton:hover{
  background-color: #e4007c;
}
.randomnumberbutton:active{
  background-color: #ffafcc;
  box-shadow: inset 0 0 5px #fff;
}

.posttitle {
  margin: 0px;
}

.postcontent {
  line-height: 1.5;
}

.date {
  color: #03045e;
  font-size: 8px;
}

.caption {
  color: #a0a0a0;
  font-size: 8px;
  margin-top: 0px;
}
.caption:hover {
  color: #03045e;
}

ul {
  line-height: 1.4;
}

.giphy {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

//Links
a:link {
  color: #03045e;
  text-decoration: none;
}
a:visited {
  color: #03045e;
  text-decoration: none;
}
a:hover {
  color: #e4007c;
  text-decoration: none;
}
a:active {
  color: #ffafcc;
  text-decoration: none;
}

footer {
  text-align: center;
  color: #a0a0a0;
  font-size: 12px;
  font-family: 'Shippori Antique B1', sans-serif;
}
.footer:hover {
  color: #03045e;
}