@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Shippori+Antique+B1&display=swap');

body {
  margin: 0 auto;
  padding: 0;
  background: #c3dfef;
	font-family: sans-serif;
  max-width: 750px;
}

header {
  display: flex;
  align-items: center;
  background: #c3dfef;
  background: linear-gradient(180deg, rgba(195,223,239,1) 0%, rgba(195,223,239,1) 90%, rgba(195,223,239,0.5) 95%, rgba(195,223,239,0.06) 100%);
  /* for right and left */
  /* background: linear-gradient(260deg, rgba(195,223,239,1) 0%, rgba(195,223,239,1) 90%, rgba(195,223,239,0.5) 95%, rgba(195,223,239,0.06) 100%);
  background: linear-gradient(90deg, rgba(195,223,239,1) 0%, rgba(195,223,239,1) 90%, rgba(195,223,239,0.5) 95%, rgba(195,223,239,0.06) 100%); */
  padding-top: 0px;
  color: #03045e;
  font-family: 'Shippori Antique B1', sans-serif;
  padding-left: 50px;
  padding-bottom: 15px;
  position: sticky;
  top: 0px;
  cursor: auto;
}

hr {
  height: 0.5px;
  border: 0;
  color: rgba(3,4,94,0.5);
  background-color: #03045e;
}

.confetti {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.siriicon {
  width: 50px;
  border-radius: 5px;
  margin: 10px 20px 0 40px;
  padding-top: 20px;
}
.siriicon:active {
  filter: drop-shadow(2px 2px 0.5rem #3a519b);
}

.subheader {
  color: #03045e;
  margin-left: -164px;
  font-family: 'Shippori Antique B1', sans-serif;
}
.aboutlink a {
  color: #03045e;
  font-family: 'Shippori Antique B1', sans-serif;
  margin-left: 50px;
  padding-top: 40px 0;
  text-decoration: none;
}
.aboutlink a:hover {
  color: white;
  background-color: #03045e;
  box-shadow: inset 0px 0px 6px #c3dfef;
  border-radius: 10px;
}
.aboutlink a:active {
  opacity: 50%;
  box-shadow: inset 0px 0px 6px #a0a0a0;
  filter: drop-shadow(2px 2px 0.5rem #3a519b);
}
.aboutlink a:visited {
  color: white;
  font-family: 'Shippori Antique B1', sans-serif;
  margin-left: 50px;
  padding-top: 40px 0;
  text-decoration: none;
}

.icon-bar {
  width: 120px;
  background-color: #c3dfef;
  margin-left: 200px;
  margin-top: 40px;
  border-radius: 10px;
  float: right;
}
.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 50%; /*splits into two boxes*/
  padding: 18px 0; /*top and bottom padding*/
}
.icon-bar a:hover {
  background-color: #03045e;
  box-shadow: inset 0px 0px 6px #c3dfef;
  border-radius: 10px;
}
.icon-bar a:active {
  opacity: 50%;
  box-shadow: inset 0px 0px 6px #a0a0a0;
  filter: drop-shadow(2px 2px 0.5rem #3a519b);
}

article {
  background: #c3dfef;
  border: rgba(255, 255, 255, 0.5);
  width: 85%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  color: #03045e;
  font-family: monospace;
  max-width: 550px;
  align-items: center;
  box-shadow: 9px 9px 22px #b7d2e1, -9px -9px 22px #cfecfd;
}

.randomnumberbutton {
  background-color: #3a519b;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.randomnumberbutton:hover{
  background-color: #e4007c;
}
.randomnumberbutton:active{
  background-color: #ffafcc;
  box-shadow: inset 0 0 5px #fff;
}

.posttitle {
  margin: 0px;
}

.postcontent {
  line-height: 1.5;
}

.date {
  color: #03045e;
  font-size: 8px;
}

.caption {
  color: #a0a0a0;
  font-size: 8px;
  margin-top: 0px;
}
.caption:hover {
  color: #03045e;
}

ul {
  line-height: 1.4;
}

.giphy {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

// Link formatting
a:link {
  color: #03045e;
  text-decoration: none;
}
a:visited {
  color: #03045e;
  text-decoration: none;
}
a:hover {
  color: #e4007c;
  text-decoration: none;
}
a:active {
  color: #ffafcc;
  text-decoration: none;
}

footer {
  text-align: center;
  color: #a0a0a0;
  font-size: 12px;
  font-family: 'Shippori Antique B1', sans-serif;
}
.footer:hover {
  color: #03045e;
}